:root {
  --purple-100: #f2e6fa;
  --purple-200: #d8bfd8;
  --purple-300: #da70d6;
  --purple-400: #8f00ff;
  --purple-500: #9370db;
  --purple-600: #800080;
}

nav {
  max-width: 1200px;
  padding: 1rem 1rem;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

#menu {
  text-align: center;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.nav-links a {
  text-decoration: none;
  margin: 1rem;
  padding: 0.5rem;
  font-weight: bold;
  color: var(--purple-100);
}

.top-header {
  text-align: center;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
}

.cardContainer {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 400px;
  max-height: fit-content;
  padding: 20px;
  margin: 0 auto;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h2 {
  color: black;
}
